.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.nav h2{
    position: absolute;
    left: 0;
    margin-top: 20px;
    margin-left: 35px;
}